*
{
    margin: 0px;
    padding: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body
{
    width : 100%;
    height: 100%;
    background-color:  #e6ffe6;
}
article
{
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background: #1F1C2C; 
}
.logo 
{
    color: rgb(226,226,226);
    letter-spacing: 5px;
    font-size: 28px;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a 
{
    color: rgb(226,226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: medium;
    font-size: 24px;
}
.nav-links a:hover
{
    font-weight: bold;
}
.burger
{
    display: none;
    cursor: pointer;
}
.burger div
{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease;
}
main
{
    display:flex;
    min-height: 76vh;
}
header, main, footer
{
    flex-shrink: 0;
}
.icon
{
    font-size: 30px;
    vertical-align: middle;
}


@media screen and (max-width:800px)
{
    main
    {
        width: 100%;
    }
    .container
    {
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .right
    {
        width:100%;
    }
    .expertise
    {
        margin-bottom: 35px;
    }
    .left
    {
        width:100%;
    }
    body
    {
        overflow-x: hidden;
    }
    .nav-links 
    {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #1F1C2C;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .nav-links a
    {
        font-weight: bold;
        font-size: 32px;
    }
    .burger
    {
        display: block;
    }
    
}
.nav-active
{
    transform: translateX(0%);
}
@keyframes navLinkFade
{
    from 
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-6px);
}

.container
{
    margin: 0 auto;
    min-width: 80%;
    display: flex;
}
.left
{
    min-width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left h1,
.right h1
{
    padding: 5%;
    font-family: 'Finger Paint', cursive;
}
.left h2,
.right h2
{
    text-align: center;
    min-width: 80%;
}
.left h2,
.right h2
{
    padding-top: 10px; 
    font-family: 'Finger Paint', cursive;
}
.left p,
.right p
{
    width: 80%;
    text-align: justify;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    padding-bottom:30px;
}
.expertise
{
    padding: 0px 0px 20px 0px;
    width: 80%;
    display:flex;
}
.symbols
{
    font-size: 2.2rem;
}
.text
{
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}
#languages
{
    width: 50%;
    display:inline-block;
}
#languages li,
#technologies li
{
    list-style: none;
}
#technologies
{
    width: 50%;
    display:inline-block;
}
.right
{
    min-width: 50%;
    min-height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: center;
}

















