* {
    margin:  0;
    padding: 0;
}
#hide
{
    display: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7; 
    height:      100vh;
    overflow: hidden;

}
.container {
    width:  100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* smooth scroll */
}
.navbar {
    position: fixed;
    top:      0;
    left:      0;
    z-index:  1;
    display:  flex;
    align-items: center;
    overflow-x: hidden;
    height:    100%;
    width:   200px;
    font-size:   20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*background: rgba(171, 138, 140,0.85); */
}
.navcolor {

}
.navbar ul {
    display: block;
    list-style: none;
    width: 100%;
}
.navbar ul li {
    margin:  0 0.3rem;
    padding: 0.7rem;
    justify-content: center;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #1a55ad;
}
.navbar ul li a:hover {
    color: #0f0c0c;
}
section {
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    width:100%;
    height: 100vh;
    scroll-snap-align: center;
}
#logo {
      filter: sepia(100%);
        -webkit-filter: sepia(100%);
          filter: invert(80%);
            -webkit-filter: invert(80%);
    margin-top: 15px;
    margin-bottom: 15px;
}
.layer {
background-color: rgba(248, 247, 216, 0.7);
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.highlight 
{
    background-color: #dbcb32;
}
section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:   21px;
}
section h1 {
    margin-top: 15px;
    padding: 0px 15px;
    color:       #3b3f45;
    font-size:   45px;
    font-family: Arial, Helvetica, sans-serif;
}
section#contact h3 {
    padding: 0px 15px;
    margin-top: 70px;
    margin-bottom: 200px;
    color:       #3b3f45;
    font-size:   28px;
}

section .subscript {
    font-size: 25px;
    color:     #9da4b0;
}
section#home {
    align-items: center;
    background: url('images/backgrounds/blured_wander.jpg') no-repeat  center/
    cover; 
}
.center {
    width: 70%;
    height: 80%;
    text-align: center;
    align-items: center;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#home h3 {
    margin-top: -50px;
    text-align: justify;
    width: 90%;
    color:       #3b3f45;
    font-size:   24px;
    font-family: Arial, Helvetica, sans-serif;
}
.contain {
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display:flex;
    flex-direction: column;
}
.containi {
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display:flex;
}
#duo {
    display:flex;
    flex-direction: row;

}
#trio {
    display:flex;
    flex-direction: row;

}
.left {

}
section#description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center; 
    background: url('images/backgrounds/blured_alyssa.jpg') no-repeat  center/
    cover; 
    
}
section#features {
    align-items: center;
    justify-content: flex-start;
    text-align: center; 
    background: url('images/backgrounds/blured_amanda.jpg') no-repeat  center/
    cover; 
    
}
section#features h3 {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 15px;
    color:       #3b3f45;
    font-size:   24px;
    font-family: Arial, Helvetica, sans-serif;
}
section#description h1 {
    margin-bottom: 40px;
}
section#description h3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 70%;
    color:       #3b3f45;
    font-size:   23px;
    font-family: Arial, Helvetica, sans-serif;
}
section#description img {
}
.posterlink, a {
        text-decoration: none;
}
.posterlink a:hover {
        color: #577ea1;
}
section#documents {
    margin-top:5px;
    justify-content: flex-start;
}
section#members {
    justify-content: flex-start;
    background: url('images/backgrounds/blured_member-bg.jpg') no-repeat  center/
    cover; 
}
section#contact {
    background: url('images/backgrounds/blured_calebs.jpg') no-repeat  center/
    cover; 
    align-items: center;
    justify-content: flex-start;
    text-align: center; 
    max-height:100vh;

    
}

.row {

    height: 80%;
    display:flex;
    flex-direction: column;
    padding: 7em;
    margin: 0;
}

.people {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.right{
}
.left{

float:left;
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .3rem;
  padding: 0.3rem;

}

.person img {
  border-radius: 50%;
  width:  180px;
  height: 160px;
  
}
.name {
  font-size: 24px;
  margin-top: 0;
  color: #1a1711;

}
.unvan {
  font-size: 22px;
  margin-top: 0;
  color: #3d2f2f;
}

.reachout {
    max-height: 20%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reachout a
{
    color: #121221;
    text-decoration: none;
}
.reachout a:hover
{
    color: #1b555c;
}

#line1,#line2, #cengmail {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size:   20px;
}
#cengmail {
}


.lo{

    
}




.fa-5x {

    color: #67759c;
}


section#mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center; 
    background: url('images/backgrounds/blured_lauren.jpg') no-repeat  center/
    cover; 
    
}
section#mobile img {
     height: 200px; 
     width: 300px;
     object-fit: contain;
}
section#mobile h1 {
    margin-bottom: 15px;
}
section#mobile h3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 70%;
    color:       #3b3f45;
    font-size:   23px;
    font-family: Arial, Helvetica, sans-serif;
}

section#web h1 {
    margin-bottom: 15px;
    margin-top: -40px;
}

section#web {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    background: url('images/backgrounds/blured_keaganw.jpg') no-repeat  center/
    cover; 
}


#page {
    width: 65%;
    height: 90%;

}
