.discover-main-section {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.discover-main-section .covers-image {
  max-width: 40vw;
  margin-left: 2rem;
  height: auto;
  max-width: 400px;
}
.title
{
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

.icon-section {
  display: flex;
}
.call-to-action
{
  margin-top: 5px;
  width: 1200px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
  padding: .70rem;
  width: 150px;
  height: 150px;
  background-color: #4C5F74;
  margin-top: 5px;

}

.icon img {
  width: 100px;
  height: 100px;
  
}
span
{

  font-size: 30px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #8A97A5;
}


@media (max-width: 800px) {
  .discover-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .discover-main-section .covers-image {
    margin-top: 2rem; 
    height: 30vh;
    width: auto;
  }
}
