<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../public/css/styles.css" rel="stylesheet">
    <link href="../public/css/discover.css" rel="stylesheet">
   
    <title>Raiment</title>
</head>
<body class="container full-height-grow" >
   
    <div class="container">
        <header class="main-header">
    
            <a href="welcome.html" class="logo">
                <img src="../public/images/logo.png" width="300" height="100">
            </a>
            <nav class="main-nav">
                <ul>
                    <li>    
                        <a href="discover.html">Discover</a>
                    </li>
                    <li>
                        <a href="register.html">Register</a>
                    </li>
                    <li>
                        <a href="login.html">Login</a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="discover-main-section">
            <div class="call-to-action">
                <h5 class="title">Organize clothing,</h5>
                <h1 class="title">Plan outfits ahead of time,</h1>
                <h1 class="title">Discover clothes that fits your wardrobe,</h1>
                <h1 class="title">Generate fashionable combinations from your closet.</h1>
                <div class="icon-section">
    
                    <div class="icon">
                        <img src="../public/images/discover.svg">
                        <span>Discover</span>
                    </div>
                    <div class="icon">
                        <img src="../public/images/wardrope.svg">
                        <span>Organize</span>
                    </div>
                    <div class="icon">
                        <img src="../public/images/combine.svg">
                        <span>Combine</span>
                    </div>
                </div>
    
            </div>
            <img class="cover-image" src="../public/images/cover.png">
        </section>
    </div>
    <footer class="main-footer">
    <div class="container">
          <nav class="footer-nav">
            <ul>
               <li><a href="aboutus.html">About Us</a></li>
               <li><a href="mailto:raimentapp@outlook.com">Contact</a></li>
            </ul>
          </nav>
            <nav class="footer-nav">
              <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="https://www.instagram.com/raiment06/" target="_blank">Instagram</a></li>
              </ul>
           </nav>
    </div>
    
    </footer>
</body>
</html>



